{% extends 'base.html.twig' %}

{% block content %}
<div class="well">
  <h3>{{ brand.getName }}</h3>
</div>
<div class="row">
  <div class="col-md-4">
    <form class="form-horizontal" action="/brands/match" method="post">
        <input name="brand_id" type="hidden" value="{{ brand.getId }}">
        <h4>Assign store:</h4>
        <div class="form-group">
          {% if stores is not empty %}
              <select class="form-control" name="store_id">
                  {% for store in stores %}
                      <option value="{{ store.getId }}">{{ store.getName }}</option>
                  {% endfor %}
              </select>
          {% endif %}
        </div>
        <div class="form-group">
            <div class="col-sm-10">
              <button type="submit" class="form-control">Submit</button>
            </div>
        </div>
    </form>
  </div>
  <!-- left column -->
  <div class="col-md-8">
    <!-- class="table table-striped" -->
    {% if assigned_stores is not empty %}
      <colgroup>
         <col span="2" style="background-color:white">
         <col style="background-color:lightgrey">
       </colgroup>
      <table class="table table-striped">
        <tr>
          <th><p>STORES:</p></tr>
        </tr>
        {% for store in assigned_stores %}
          <tr>
            <th><a href="/stores/{{ store.getId }}">{{ store.getName }}</a></tr>
          </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="jumbotron">
        <h4>No stores registered yet.</h4>
      </div>
    {% endif %}
  </div>
</div>
<!-- midrow -->
{% endblock %}
